@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('./assets/fonts/caviardreams-webfont.woff2') format('woff2'),
         url('./assets/fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'caviar_dreamsregular';
}